.box{
	background-color: red;
}

.button {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 8px;}

.tabrotate{
	 margin: 30px;
	 

}

.score{
	font-size: 3rem;
    font-weight: bold;
}